@media screen and (min-width: 300px) and (max-width: 700px) {
    .txt-header{
        height: 250px;
    }
    .txt-header p{
        color: #fff;
    }
    .txt-sobre{
        height: 300px;
    }
    .txt-header h1{
        font-size: 18px;
    }
    .txt-sobre h2{
        font-size: 18px;
    }
    #home-mapas nav ul li a {
        font-size: 14px;
    }
    #home-mapas h3 {
        font-size: 14px;

    }
    .menu-topo {
        padding-top: 0px;
    }
    .lang {
        margin-top: 10px;
    }
    .fazenda-foto{
        height: 250px;
    }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {

    .txt-header{
        height: 350px;
    }
    .txt-sobre{
        height: 400px;
    }
    .fazenda-foto{
        height: 300px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1300px) {
    .txt-header{
        height: 430px;
    }
    .txt-sobre{
        height: 450px;
    }
    .fazenda-foto{
        height: 400px;
    }

}
@media screen and (min-width: 1301px) and (max-width: 1920px) {

    .txt-header{
        height: 650px;
    }
    .txt-sobre{
        height: 550px;
    }
    .fazenda-foto{
        height: 450px;
    }
}
@media screen and (min-width: 1921px) {

    .txt-header{
        height: 700px;
    }
    .txt-sobre{
        height: 600px;
    }
    .fazenda-foto{
        height: 500px;
    }
}


