/* Custom Stylesheet */
/**

*/

.logo{
    margin-top:10px;
}
body{
    background-color: #ECECEC;
}
#index-banner{
    background-image: url('../img/background1.jpg');
    background-repeat:no-repeat;
    background-size:100%;
}
#contato-banner{
    background-image: url('../img/backgroundContato.jpg');
    height: 570px;
    background-repeat:no-repeat;
    background-size:100%;
}
#quem-somos-banner{
    background-image: url('../img/backgroundQuemSomos.jpg');
    height: 565px;
    background-repeat:no-repeat;
    background-size:100%;
}
#sobre-banner{
    background-image: url('../img/backgroundSobre.jpg');
    height: 575px;
    background-repeat:no-repeat;
    background-size:100%;
}
#contato-msg h2{
    font-size: 24px !important;
    font-weight: bold !important;
}
#quemsomos-infos p{
    line-height: 16px;
    font-size: 13px;
    color: #626262;
    text-align: left;
}
#quemsomos-infos h2{
    font-size: 24px !important;
    font-weight: bold !important;
    text-align: left;
    margin: 0px !important;
    line-height: 10px;
}
#quemsomos-infos h3{
    font-size: 18px !important;
    font-weight: normal;
    text-align: left;
    color: #2E8D56 !important;
}
.lang{
    margin-top: -15px;
    margin-left: 10px;
}
.lang img{
    opacity: 0.4;
}
.lang img:hover{
    opacity: 1;
    transition: 0.8s;
}
.margin5-right{
    margin-right: 5px;
}
.verde-siap-escuro {
    background-color: #0B4F28 !important;
}

.verde-siap-escuro-text {
    color: #0B4F28 !important;
}
.menu-topo{
    padding-top: 30px;
    line-height: 35px;
}
.menu-mapas{
    padding-top: 30px;
    line-height: 35px;
}
.txt-header{
    height: 300px;
    color: #000;

}
.txt-header h1{
    color: #0d512b;
}
.txt-sobre{
    height: 300px;
    padding-top: 30%;
    //margin-left: 20%;
    color: #fff;
}
.row-txt-sobre{
    margin-top: 600px;
}
#sobre-fazenda{
    padding-top: 83%;
    color: #fff;
}


nav ul a,
nav .brand-logo {
    color: #0d512b;

}
nav ul li{
    border-bottom: 1px solid #0d512b;

}
nav ul a:hover {
    background-color: transparent !important;
    color: #2E8D56;
}
p {
    line-height: 2rem;
}

.button-collapse {
    color: #0d512b;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}



.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


.arrow_box {
    position: relative;
    background: transparent;
    /*border: 1px solid #0d512b;*/
}
.arrow_box:after, .arrow_box:before {
    bottom: -1px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(213, 0, 0, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
}
.arrow_box:before {
    border-color: rgba(13, 81, 43, 0);
    border-bottom-color: #0d512b;
    border-width: 9px;
    margin-left: -9px;
}
.by-txt{
    color: #0d512b;
}
#foto-fazenda-home{
    width: 100%;   
    height: 100%;
}
#icones-fazenda{
    background-image: url('../img/sobre-fazenda-home.png');
    background-repeat:no-repeat;
    background-size:100%;
    //height: 499px;
}
.centralizar-filho{
    display: flex;
    justify-content: center;
}
#home-mapas{
    background-color: #E3F3EA;
}
#home-mapas nav ul li a{
    font-size: 22px;
    font-weight: 300;
}

#mapa-solo-descricao{
    margin-top: -50px;
}
#mapa-solo-descricao p{
    margin: 0px;
    line-height: 18px;
    color: #626262;
}
#mapa-solo-descricao p b{
    line-height: 40px;
}
#texturas-solo p{
    line-height: 12px;
    font-size: 12px;
    margin: 0px;
    color: #626262;
    font-weight: 500;
}
#home-mapas h3{
    font-size: 22px;
    font-weight: 300;
    color: #0B4F28;

}
.div-mapas{
    display: none;
}

#mapa-solo{
    display: block;
}
#mapa-solo-box{
    display: block;
}
.fotos-zoom img{
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
#texturas-solo img{
    cursor: pointer;
}
.div-mapas-texturas{
    padding-top: 20px !important;
    display: none;
}
.div-mapas-texturas-box{
    padding-top: 20px !important;
    display: none;
}
#mapa-solo-default{
    display: block;
}
#mapa-solo-default-box{
    display: block;
}
#light-box-container{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}
#mapa-galeria{
    margin-top: 20px;
}
.light-box-bg{
    position: absolute;
    left: 0;
    //top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.95 !important;
    display: none;

}
.fechar-box{
    padding-top: 20px;
    cursor: pointer;
}
